
* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-color: #;
  --sidebar-color: #;
  --primary-color: #;
  --primary-color-light: #;
  --toggle-color: #;
  --text-color: #;

  --tran-03: ;
  --tran-03: ;
  --tran-04: ;
  --tran-05: ;
}