
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

:root {
  --color-primary: #0a8de4;
  --color-gray-0: #fff;
  --color-gray-100: #ecf2f6;
  --color-gray-200: #d9dfe7;
  --color-gray-300: #bdcad6;
  --color-gray-400: #bbbbbb;
  --color-gray-500: #9c9c9c;
  --color-gray-600: #6a6a6a;
  --color-gray-700: #4b5156;
  --color-gray-800: #33373a;
  --color-gray-900: #0f1316;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 0.9rem;
  --radius-4: 1.5rem;
  --radius-5: 2.2rem;

  --transition: all 300ms ease;

  --container-w-lg: 80%;
  --container-w-md: 90%;
  --container-w-sm: 92%;
}


body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  line-height: 1.6;
  font-size: 0.9rem;
  user-select: none;
}


.contnainer {
  width: var(--container-w-lg);
  margin-inline: auto;
}


a {
  color: var(--color-gray-900);
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.1;
}