* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

.menu {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li{
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform-origin: 140px;
  transform: rotate(0deg) translateX(110px);
}